<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Vue</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app">
          <h1>Books list</h1>
          <input ref="input" type="text" v-model="currentBook" ><br>
          <button @click="addBook">Add book</button>
          <hr>
          <ul v-if="books.length > 0">Books
                  <li v-for="book in books">{{book}}</li>
          </ul>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
             currentBook:'',
             books : [],

      },
      methods: {
              addBook(){
                      this.books.push(this.currentBook);
                      //$refs.input.value = '';
                      console.log('hello');
              }
      }
    })
  </script>
</body>
</html>
